<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<section>
  <div class = "form_val">
    <div *ngIf = "!formValidation.valid">
      <span style = "color:red;">
        *Required
      </span>
    </div>
    <form [formGroup] = "formValidation">
      <input placeholder = "Enter any value" formControlName = "name"/>
      <button [disabled] = "!formValidation.valid">Save</button>
    </form>
  </div>
</section>
<router-outlet></router-outlet>
